<td class="time">{{view.content.formattedTime}}</td>
<td class="service">{{view.content.eventType.service.id}}</td>
<td class="direction">{{view.direction}}</td>
<td class="event">{{view.content.eventType.id}}</td>
<td class="data">{{view.content.data}}</td>
